body {
    font-family: sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
}


.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 auto;
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
label {
    font-size: 14px;
    margin-bottom: -5px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 3%;
    align-items: center;
    
}
.error-icon {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    text-align: center;
    line-height: 20px; 
    background-color: #ffffff;
    color: red; 
    cursor: pointer;
    margin-left: -5px;
    border-color: #ccc;
    border: 1px solid;
    margin-top: 18px;
    
}

.error-icon::after {
    content: attr(data-tooltip); 
    position: absolute;
    display: none; 
    background-color: #514c4c;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
margin-top: 18px;
    z-index: 1;
    margin-left: -5px;
    top: calc(100% + 5px); 
    left: 50%; 
    transform: translateX(-50%) ; 
}
.error-icon:hover::after {
    display: block; 
   
}
.tooltip-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    text-align: center;
    line-height: 20px; 
    background-color: #ffffff;
    color: #3130309d; 
    cursor: pointer;
    margin-left: 5px;
    border-color: #ccc;
    border: 1px solid;
}
.tooltip-icon::after {
    content: attr(data-tooltip); 
    position: absolute;
    display: none; 
    background-color: #4d4c51;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;

    z-index: 1;
    
    top: calc(100% + 5px); 
    left: 50%; 
    transform: translateX(-50%) ; 
}
.tooltip-icon:hover::after {
    display: block; 
}


select {
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 3%;

}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 40%;
    height: 40%;
}
.popup button{
    background-color: #7243e9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    margin-top: 20%;
}
button {
    background-color: #7243e9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 83%;
    margin-top: 7%;
}
button:hover {
    background-color: #403ba2;
}